.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .3);
    z-index: 50;

	&::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background-color: #5e5373;*/
        z-index: 2;
    }


		// .header__body

		&__body {
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;
            height: 100px;
            margin: 0px 20px 0px 20px;
		}

		// .header__logo

		&__logo {
		}

		// .header__menu

		&__menu {
		}

		// .header__menu-link

		&__menu-list {
            display: flex;
            & li {list-style: none;}
		}

		// .header__menu-list

		&__menu-link {
            text-decoration: none;
            text-transform: uppercase;
            margin: 0px 20px 0px 0px;
		}

		// .header__social

		&__social {
		}

		// .header__socil-menu

		&__socil-list {
            display: flex;
            & li {list-style: none;}
		}

		// .header__social-list

		&__social-link {
            text-decoration: none;
            text-transform: uppercase;
            margin: 0px 20px 0px 0px;

		}

		// .header__burger

		&__burger {
            display: none;
		}
	@media (max-width: 767px) {
		&__body {
			height: 60px;
		}
	}
}

